/* General Styles */
body {
    font-family: "Arial", sans-serif;
    text-align: center;
    margin: 20px;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}
h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    font-size: 2.5rem; /* Adjust size as needed */
    font-weight: bold;
    text-align: center;
    background: linear-gradient(90deg, #ff6ec4, #4650bcb7, #4ecdc4, #ff6ec4);
    background-size: 300% 100%; /* Creates a moving effect */
    color: transparent;
    background-clip: text; /* Applies the gradient to the text only */
    -webkit-background-clip: text; /* For Safari compatibility */
    animation: gradientMove 3s infinite linear; /* Smooth animation */

}
@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.instructions {
    font-size: 1.2rem;
    margin-bottom: 20px;
}
/* Choices Section */
.choices {
    margin-top: 20px;
}
.choices button {
    margin: 10px;
    padding: 10px 25px;
    font-size: 16px;
    border: 1px solid #6f6d6dd5;
    border-radius: 4px;
    background-color: #ddd;
    color: #333;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
}
.choices button:hover {
    background-color: #bbb;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);

}
/* Result Section */
#result {
    margin-top: 30px;
    font-size: 1.1rem;
    font-weight: bold;
    color: #434242;
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    /* display: inline-block; */
    width: 70%;
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

#scoreboard {
    margin: 20px 0;
    font-size: 1.2rem;
}
button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#reset {
    background-color: #4650bcb7;
    color: white;
}
